<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - MyXmlMvcApp</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <header>
        <h1>XML Schema to Table</h1>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2025 MyXmlMvcApp</p>
    </footer>
</body>
</html>
